@import '../../node_modules/vuetify/src/stylus/settings/_colors'

theme: {
    primary: colors.purple.base,
    secondary: colors.grey.darken1,
    accent: colors.shades.black,
    error: colors.red.accent3
  }

@import '../../node_modules/vuetify/src/stylus/main'
